  <nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand"><b>Fundamentos Angular</b></a>
      <button style="background-color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/post">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/comentarios">Comentarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Acerca de...</a>
        </ul>
      </div>
    </div>
  </nav>